.light {
	--clr-text: #33383c;
	--clr-text-user: #6565655c;
	--clr-primary: hsl(180deg 3% 93%);
	--clr-secondary: #39c7a5;
	--clr-other: #bec4cd;
	--clr-bg: #fff;
	--clr-error: red;
}

.dark {
	--clr-text: rgba(255, 255, 255, 0.8);
	--clr-text-user: rgba(255, 255, 255, 0.7);
	--clr-primary: hsl(190, 79%, 13%);
	--clr-secondary: #39c7a5;
	--clr-other: #bec4cd;
	--clr-bg: #011013;
	--clr-error: red;
}