
.main {
	padding: 0.4rem 0.8rem;
	background-color: var(--clr-text);
	color: var(--clr-primary);
	border-radius: var(--round-sm);

	&.secondary {
		background-color: var(--clr-secondary);
		color: var(--clr-primary);
	}
}