
.main {
	height: 0;
	border-bottom: 1px solid var(--clr-other);
	width: 100%;
	margin: 0;
	padding: 0;

	&.full {
		width: calc(100% + (var(--g-padding-x) * 2));
	}

	&.dashed {
		border-bottom-style: dashed;
	}
}