.main {
  display: inline-flex;
  align-items: center;
	gap: 0 0.5rem;
  justify-content: center;

  &.secondary,
  &.primary {
    color: var(--clr-primary);
    border: 0.05rem solid var(--clr-secondary);
    border-radius: var(--round-sm);
  }

  &.primary {
    color: var(--clr-text);
		border-color: var(--clr-other);
  }

  &.secondary {
    background-color: var(--clr-secondary);
  }

  &.max-y {
    height: 100%;
  }

  &.sm {
    font-size: var(--font-sm);
    padding: 0.5rem 0.6rem;
  }

  &.md {
    font-size: var(--font-md);
    padding: 0.6rem 0.75rem;
  }

  &.lg {
    font-size: var(--font-lg);
    padding: 0.6rem 0.8rem;
  }
}
