.main {
	--size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.secondary,
  &.primary {
    color: var(--clr-primary);
    border: 0.05rem solid var(--clr-other);
		padding: var(--size) calc(var(--size) * 0.7);
    border-radius: var(--round-sm);
  }

	&.primary {
		color: var(--clr-text);
	}

	&.secondary {
		background-color: var(--clr-secondary);
	}

	&.max-y {
		--size: 0;
		height: 100%;
	}

  &.sm {
    font-size: var(--font-md);
		--size: 1.2rem
  }

  &.md {
    font-size: var(--font-xl);
		--size: 1.5rem
  }

  &.lg {
    font-size: var(--font-xl);
		--size: 1.8rem
  }
}
