
.main {
	display: flex;
	position: absolute;
	bottom: 0;
	gap: 0 0.3rem;

	.item {
			cursor: pointer;
			width: 0.5rem;
			height: 0.5rem;
			border-radius: 50%;
			background-color: var(--clr-other);
	
			&.current {
				background-color: var(--clr-text);
				width: 1.5rem;
				border-radius: 12px;
			}
		}
}
	
