
.main {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;
	align-items: center;
	padding: var(--g-padding-y) var(--g-padding-x) !important;
	border-bottom: 1px solid var(--clr-other);

	svg {font-size: var(--font-2xl);}

	.backBtn {
		justify-self: start;
		padding: 0.3rem;
	}

	& > *:last-child:not(.title) {
		justify-self: end;
	}
}