.main {
	display: flex;
	gap: 0 1rem;
	align-items: center;
	margin-left: auto;

	a {
		display: flex;
		font-size: var(--font-lg);
		gap: 0 0.5rem;
		padding: 0.5rem;

		svg {
			font-size: 1.3em;
		}
	}
}