@import '../../styles/utils.module.scss';

@include media-hover {
  .theme_secondary {
    transition: opacity 0.15s ease;
  }
  .theme_secondary:not(:disabled):hover {
    opacity: 0.85;
  }
}

.main {
  display: inline-flex;
  width: fit-content;
}

.theme_primary,
.theme_secondary {
  color: var(--clr-primary);
  border: 0.05rem solid var(--clr-secondary);
  border-radius: var(--round-sm);
}
.theme_primary {
  color: var(--clr-text);
  border-color: var(--clr-other);
}
.theme_secondary {
  background-color: var(--clr-secondary);
}

.shape_square {
  aspect-ratio: 1/1;
}

.size_sm {
  font-size: var(--font-sm);
  padding: 0.5rem 0.6rem;
}
.size_md {
  font-size: var(--font-md);
  padding: 0.6rem 0.75rem;
}
.size_lg {
  font-size: var(--font-lg);
  padding: 0.6rem 0.8rem;
}
