@import 'app/styles/reset.scss';
@import 'app/styles/vars.scss';
@import 'app/styles/fonts.scss';

html {
	font-size: max(14px, calc(1vmax));
	font-family: Ubuntu, sans-serif;
}

body {
	background: var(--clr-bg);
	color: var(--clr-text);
	height: 100dvh;
}

dialog[open] {
	display: flex;
	flex-direction: column;
}

#root {
	height: 100%;
}

