@import '@/app/styles/reset';
@import '@/app/styles/vars';
@import '@/app/styles/fonts';
@import '@/shared/kit/styles/index.scss';

html {
	font-size: max(14px, calc(1vmax));
	font-family: Ubuntu, sans-serif;
}

body {
	background: var(--clr-bg);
	color: var(--clr-text);
	height: 100dvh;

	&::-webkit-scrollbar {
		width: 15px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 14px;
		background-color: rgb(195 195 195);
	}

}

button:not([disabled]) {
	cursor: pointer;
}

*:disabled {
	opacity: 0.4;
	cursor: default;
}

dialog[open] {
	display: flex;
	flex-direction: column;
}

#root {
	height: 100%;
	display: flex;
}

