
.main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.loginToggler {
	button {
		text-decoration: underline;
		margin-left: 0.5rem;
	}
}

.error {
	color: var(--clr-error);
}