.main {
	display: flex;
	gap: 0 0.3rem;
	overflow-x: auto;
	height: 100%;
	max-height: 5rem;

	&::-webkit-scrollbar {
		display: none;
	}

	.item {
		font-size: var(--font-lg);
		padding: 0.3rem;
		border: 0.05rem solid var(--clr-other);
		border-radius: var(--round-sm);
		display: inline-flex;
		align-items: center;
		gap: 0 0.3rem;
		background-color: var(--clr-bg);
	}

	.imgWrapper {
		background-color: white;
		height: 100%;
		padding: 2px;
		box-sizing: border-box;
	}

	.item, .imgWrapper {
		border-radius: var(--round-sm);
	}

	img {
		height: 100%;
	}
}