
.main {
  display: flex;
  flex-direction: column;
  max-height: 2rem;
  gap: 2rem 0;

  overflow: hidden;
  transition: max-height 0.6s ease;

  &.open {
    max-height: 100%;
  }
}

.item {
	display: flex;
	align-items: center;
  cursor: pointer;
	min-height: 2rem;

	& > * {
		flex-shrink: 0;
		flex-grow: 1;
	}
}
