@import "../../helpers/utils.scss";

@include media-mobile {
	.main {
		display: flex;
		justify-content: space-between;
	}
};

@include media-tablet-min {
	.main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.main {
	gap: 0 1rem;
	align-items: center;
	margin-top: var(--g-padding-y);
}