@import "app/styles/utils";

@include media-mobile {
	.main {
		display: flex;
		justify-content: space-between;
	}
};

@include media-tablet-min {
	.main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.main {
	gap: 0 1rem;
	align-items: center;
	padding: var(--g-padding-y) var(--g-padding-x);
	position: sticky;
	top: 0;
	background-color: var(--clr-bg);
	z-index: 99;
}
