.main {
  display: grid;
  gap: 0 0.4rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &.sm {
    align-items: center;
		gap: 0.5rem;
    grid-template:
      'img title title title'
      'img subtitle subtitle subtitle'
      'img price cartBtn favorite'
      / 8rem auto auto min-content;

    .title {
      margin: 0.5rem 0 0.1rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    .subtitle {
      margin: 0.1rem 0;
    }

    .price {
      font-size: var(--font-xl);
    }

    .cartBtn {
      justify-self: end;
    }
  }

  &.lg {
    gap: 0.5rem;
		align-items: center;
    grid-template:
      'img img img' 10rem
      'title title favorite' min-content
      'subtitle subtitle subtitle'
      'price cartBtn cartBtn'
      / 1fr min-content;

    .cartBtn {
      justify-self: end;
    }
  }

  .imgBlock {
    grid-area: img;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 12px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .title {
    grid-area: title;
    font-weight: bold;
  }

  .subtitle {
    grid-area: subtitle;
    font-size: var(--font-md);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .price {
    grid-area: price;
    font-weight: bold;
  }

  .cartBtn {
    grid-area: cartBtn;
  }

  .favorite {
    grid-area: favorite;
  }
}
