$space-x: 3rem;

.main {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 0.4rem 0;
	background-color: var(--clr-bg);
	padding: var(--g-padding-y) 0 0;

	.inputBlock {
		display: flex;
		gap: 0 0.4rem;
		position: relative;
		align-items: center;
		margin: 0 $space-x;
	}

	.backBtn {
		display: flex;
		align-items: center;
		position: absolute;
		left: calc(-5.5rem / 2);
		font-size: 1.5rem;
		padding: 0.5rem;
	}

	.searchResultBlock {
		margin-top: 1rem;
		display: grid;
		overflow-y: auto;
		grid-auto-rows: 6rem;
		gap: 1rem 0;
		padding: 0 $space-x;
	}
}