
.main {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	padding: 0.5rem;
	border: 0.05rem solid var(--clr-other);
	color: var(--clr-other);
}