@import '~normalize.css/normalize.css';

html {
	font-size: max(14px, calc(1vmax));
	font-family: Ubuntu, sans-serif;
}

*, *::after, *::before {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	font-size: inherit;
	color: inherit;
}

body {
	background: var(--clr-bg);
	color: var(--clr-text);
	height: 100dvh;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

button {
	cursor: pointer;
}

button, input {
	background-color: transparent;
}

a {
	text-decoration: none;
}

ul {list-style: none}


dialog[open] {
	display: flex;
	flex-direction: column;
}

#root {
	height: 100%;
}

:root {
	--g-padding-y: 1rem;
	--g-padding-x: 1.5rem;
	--padding-sm: 0.125rem;
	--padding-md: 0.25rem;
	--padding-lg: 0.5rem;
	--tablet-min-w: 768px;
	--mobile-max-w: 767px;
	--tabbar-h: 5rem;
	--round-sm: 7px;
	--round-md: 12px;
	--round-lg: 18px;
	--font-sm: 0.5rem;
	--font-md: 0.8rem;
	--font-lg: 1rem;
	--font-xl: 1.3rem;
	--font-2xl: 1.6rem;
	--clr-text: #33383c;
	--clr-text-user: #6565655c;
	--clr-primary: hsl(180deg 3% 93%);
	--clr-secondary: #39c7a5;
	--clr-other: #bec4cd;
	--clr-bg: #fff;
}


@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Ubuntu;
	src: url('./assets/fonts/Ubuntu-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}