
.main {
  color: var(--clr-error);
	display: inline-flex;
  align-items: center;
  gap: 0 0.3rem;
  color: var(--clr-error);
  animation: onShow 0.3s ease;
  user-select: none;

  svg {
    font-size: 1.2em;
  }
}

@keyframes onShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
